<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whale.oauth2.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.whale.oauth2.domain.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, real_name, qq, we_chat, `password`, phone, sex, email, avatar, `status`,
    created, updated, province, city, county, address,`type`
  </sql>

<!--auto generated by MybatisCodeHelper on 2020-10-07-->
  <select id="selectByUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_user
    where user_name=#{userName,jdbcType=VARCHAR}
    order  by id desc
  </select>


</mapper>
